@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * Custom fonts
   */

  @font-face {
    font-family: ObjectSans;
    src: url('/fonts/PPObjectSans-Regular.woff2') format('woff2'),
      url('/fonts/PPObjectSans-Regular.woff') format('woff');
  }

  :root {
    /* Colors */
    /* --color-white: #fbf9f9; */
    /* --color-orange: #ebc246; */

    /* Theme color */
    --primary-color: #3840ca;
    --light-bg: #f5f5f5;
    --dark-bg: #080808;

    /* Text Colors*/
    --light-text: #2f3330;
    --dark-text: #ebddb2;
  }
}
