@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * Custom fonts
   */

  @font-face {
    font-family: ObjectSans;
    src: url('/fonts/PPObjectSans-Regular.woff2') format('woff2'),
      url('/fonts/PPObjectSans-Regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: ObjectSans;
    src: url('/fonts/PPObjectSans-Bold.woff2') format('woff2'),
      url('/fonts/PPObjectSans-Bold.woff') format('woff');
    font-weight: 700;
  }

  @font-face {
    font-family: ObjectSans;
    src: url('/fonts/PPObjectSans-Heavy.woff2') format('woff2'),
      url('/fonts/PPObjectSans-Heavy.woff') format('woff');
    font-weight: 900;
  }

  :root {
    /* Colors */
    /* --color-white: #fbf9f9; */
    /* --color-orange: #ebc246; */

    /* Theme color */
    --primary-100: #eff2f6;
    --primary-200: #dee5ed;
    --primary-300: #ced8e4;
    --primary-400: #bdcbdb;
    --primary-500: #adbed2;
    --primary-600: #9cb1c9;
    --primary-700: #8ea3be;
    --primary-800: #7b97b7;
    --primary-900: #6b8aae;

    --secondary-100: #cbe1d7;
    --secondary-200: #deede6;
    --secondary-300: #deede6;
    --secondary-400: #bddbcc;
    --secondary-500: #add2bf;
    --secondary-600: #9cc9b2;
    --secondary-700: #8cc0a5;
    --secondary-800: #7bb798;
    --secondary-900: #6bae8b;

    --light-bg: #fdfdfd;
    --dark-bg: #080808;

    /* Text Colors*/
    --light-text: #2f3330;
    --dark-text: #ebddb2;
  }
}

@layer components {
  .title {
    @apply col-span-7;
  }

  .type {
    @apply col-span-3;
  }

  .date {
    @apply col-span-2;
  }

  .px-row {
    @apply px-4;
  }

  .row-gap {
    @apply gap-4 md:gap-8;
  }

  .row {
    @apply px-row row-gap grid grid-cols-12 border-t border-light-text py-2 md:py-6;
  }

  .hover-animation {
    @apply transition-colors duration-500 ease-in-out hover:text-secondary-900;
  }
}
