---
/* import '../styles/global.css' */

import objectSansRegular from '@fonts/PPObjectSans-Regular.woff2'
import objectSansBold from '@fonts/PPObjectSans-Bold.woff2'
import objectSansSlanted from '@fonts/PPObjectSans-Slanted.woff2'
import fraktionMonoRegular from '@fonts/PPFraktionMono-Regular.woff2'

export interface Props {
  title: string
  description?: string
  image?: string
  next?: string
  prev?: string
  canonicalURL?: string | URL
}

const { title, description } = Astro.props as Props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preload" as="style" href="/src/styles/global.css" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#080808"
/>
<meta name="theme-color" content="#ced8e4" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="stylesheet" href="/src/styles/global.css" />
