---
import { Icon } from 'astro-icon'
const year = new Date().getFullYear()
---

<footer
  class="px-main gap-5 flex flex-col-reverse sm:flex-row w-full items-center justify-between pt-12 sm:pt-20 pb-4 font-mono bg-zinc-100 mt-4 md:mt-12 dark:bg-zinc-900"
>
  <div
    class="flex flex-row sm:justify-start w-full items-center justify-center"
  >
    <p>Joohoon Cha © {year}</p>
  </div>

  <div class="flex flex-row gap-7 sm:gap-4">
    <a href="https://instagram.com/jhcha.app" target="_blank">
      <Icon class="w-6 sm:w-5 text-zinc-500" name="mdi:instagram" />
    </a>

    <a href="https://twitter.com/jcha0713" target="_blank">
      <Icon class="w-6 sm:w-5 text-zinc-500" name="mdi:twitter" />
    </a>
    <a href="https://github.com/jcha0713" target="_blank">
      <Icon class="w-6 sm:w-5 text-zinc-500" name="mdi:github" />
    </a>
  </div>
</footer>
