---
import { Icon } from 'astro-icon'
const year = new Date().getFullYear()
---

<footer
  class="px-main gap-5 flex flex-col-reverse sm:flex-row w-full items-center justify-between pt-14 sm:pt-20 pb-8 font-mono bg-zinc-100 mt-4 md:mt-12 dark:bg-[#0d0d0d] darkTransition"
>
  <div
    class="flex flex-row sm:justify-start w-full items-center justify-center"
  >
    <p>Joohoon Cha © {year}</p>
  </div>

  <div class="flex flex-row gap-6 sm:gap-3">
    <a
      href="https://www.linkedin.com/in/jcha0713/"
      class="p-2 btn"
      target="_blank"
      aria-label="Linkedin"
    >
      <Icon
        class="w-6 sm:w-5 text-zinc-500"
        name="mdi:linkedin"
        aria-hidden="true"
      />
    </a>

    <a
      href="https://twitter.com/jcha0713"
      class="btn p-2"
      target="_blank"
      aria-label="Twitter"
    >
      <Icon
        class="w-6 sm:w-5 text-zinc-500"
        name="mdi:twitter"
        aria-hidden="true"
      />
    </a>
    <a
      href="https://github.com/jcha0713"
      class="p-2 btn"
      target="_blank"
      aria-label="Github"
    >
      <Icon
        class="w-6 sm:w-5 text-zinc-500"
        name="mdi:github"
        aria-hidden="true"
      />
    </a>
  </div>
</footer>
