---
const year = new Date().getFullYear()
---

<footer
  class="px-main flex w-full items-center justify-between pt-20 pb-4 font-mono bg-zinc-100 mt-12"
>
  <p>Joohoon Cha © {year}</p>
  <p class="cursor-default">*</p>
</footer>
