---
import FooterLink from './FooterLink.astro'
const year = new Date().getFullYear()
---

<footer
  class="px-main gap-5 flex flex-col-reverse sm:flex-row w-full items-center justify-between pt-8 sm:pt-20 pb-24 md:pb-8 font-mono bg-zinc-100 mt-4 md:mt-12 dark:bg-[#0d0d0d] darkTransition"
>
  <div
    class="flex flex-row sm:justify-start w-full items-center justify-center"
  >
    <p>Joohoon Cha © {year}</p>
  </div>

  <div class="flex flex-row gap-6 sm:gap-3">
    <FooterLink url={'https://www.linkedin.com/in/jcha0713'} media={'linkedin'}
    />
    <FooterLink url={'https://twitter.com/jcha0713'} media={'twitter'} />
    <FooterLink url={'https://github.com/jcha0713'} media={'github'} />
  </div>
</footer>
