---
import { Icon } from 'astro-icon'
import XElement from 'astro-xelement'

const { button: Button, nav: Nav } = XElement

// const { title } = Astro.props

const title = 'blog page - main'
---

<Nav
  class="sticky bottom-0 flex-row bg-light-bg border-y border-y-zinc-500 dark:border-y-dark-border darkTransition transition-[opacity] duration-300 hidden dark:bg-dark-bg"
  @do={(el, store) => {
    store.isMobile = window.matchMedia(
      'only screen and (max-width: 768px)'
    ).matches

    if (store.isMobile) {
      el.classList.remove('hidden')
      el.classList.add('flex')
    }

    let lastScroll = 0
    window.addEventListener('scroll', () => {
      const scroll = window.scrollY
      if (scroll > 200) {
        store.hide(el)
      } else {
        store.show(el)
      }

      if (lastScroll > scroll) {
        store.show(el)
      }

      if (window.innerHeight + scroll >= document.body.offsetHeight) {
        store.show(el)
      }

      lastScroll = scroll
    })
  }}
>
  <div class="flex flex-col flex-1">
    <div class="flex">
      <div class="flex-grow flex justify-center items-center">
        <p class="text-xl dark:text-dark-text">{title}</p>
      </div>
      <Button
        class="p-3 bg-zinc-200 dark:bg-zinc-800 darkTransition transition-[opacity] duration-300 w-min ml-auto border-l border-l-zinc-500 dark:border-l-dark-border"
        @click={(e) => {
          const mobileNav = document.querySelector('#mobile-nav')

          if (mobileNav.classList.contains('hidden')) {
            mobileNav.classList.add('flex')
            mobileNav.classList.remove('hidden')
          } else if (mobileNav.classList.contains('flex')) {
            mobileNav.classList.add('hidden')
            mobileNav.classList.remove('flex')
          }
        }}
      >
        <Icon
          class="w-5 text-black dark:text-white"
          name="ic:twotone-menu"
          aria-hidden="true"
          focusable="false"
        />
      </Button>
    </div>
    <div
      id="mobile-nav"
      class="flex-col border-t border-t-zinc-500 dark:border-t-dark-border flex-1 hidden"
    >
      <a href="/">
        <div
          class="flex justify-center border-b border-zinc-500 dark:border-dark-border py-3"
        >
          home
        </div>
      </a>
      <a href="/blog">
        <div
          class="flex justify-center border-b border-zinc-500 dark:border-dark-border py-3"
        >
          blog
        </div>
      </a>
      <a href="/info">
        <div class="flex justify-center py-3">info</div>
      </a>
    </div>
  </div>
</Nav>
