---
import { Icon } from 'astro-icon'
import XElement from 'astro-xelement'

const { button: Button } = XElement
---

<Button
  id="mobilenav-btn"
  class="fixed z-50 left-1/2 translate-x-[-50%] bottom-6 py-2 px-5 bg-zinc-800 dark:bg-zinc-200 darkTransition transition-[opacity] duration-300 btn hidden"
  role="button"
  aria-label="Open up the mobile navigation menu"
  aria-haspopup="true"
  aria-controls="mobilenav-menu"
  @do={(el, store) => {
    const mobileNavMenu = document.querySelector('#mobilenav-menu')

    store.isMobile = window.matchMedia(
      'only screen and (max-width: 768px)'
    ).matches

    if (store.isMobile) {
      el.classList.remove('hidden')
    }

    let lastScroll = 0
    window.addEventListener('scroll', () => {
      const scroll = window.scrollY

      if (scroll > 200 && !store.mobileNavMenuIsOpen) {
        store.hide(el)
      } else {
        store.show(el)
      }

      if (lastScroll > scroll) {
        store.show(el)
      }

      if (window.innerHeight + scroll >= document.body.offsetHeight) {
        store.show(el)
      }

      lastScroll = scroll
    })

    el.addEventListener('click', () => {
      if (mobileNavMenu.classList.contains('hidden')) {
        mobileNavMenu.classList.add('flex')
        mobileNavMenu.classList.remove('hidden')
        mobileNavMenu.removeAttribute('aria-expanded')
        store.mobileNavMenuIsOpen = true
      } else if (mobileNavMenu.classList.contains('flex')) {
        mobileNavMenu.classList.add('hidden')
        mobileNavMenu.classList.remove('flex')
        mobileNavMenu.setAttribute('aria-expanded', 'true')
        store.mobileNavMenuIsOpen = false
      }
    })
  }}
>
  <Icon
    class="w-5 text-white dark:text-black"
    name="ic:twotone-menu"
    aria-hidden="true"
    focusable="false"
  />
</Button>

<div
  class="fixed bottom-0 bg-zinc-300 dark:bg-zinc-700 dark:text-dark-text justify-center w-screen rounded-t-3xl pt-8 pb-24 px-16 hidden"
  id="mobilenav-menu"
  role="menu"
  aria-labelledby="menubutton"
>
  <nav
    role="navigation"
    class="flex flex-col items-center justify-center gap-y-6 text-2xl"
  >
    <div>
      <a role="menuitem" href="/">home</a>
    </div>
    <div>
      <a role="menuitem" href="/info">info</a>
    </div>
    <div>
      <a role="menuitem" href="/blog">blog</a>
    </div>
  </nav>
</div>
