---
import { Icon } from 'astro-icon'
import XElement from 'astro-xelement'

const { button: Button } = XElement
---

<Button
  class="fixed left-1/2 translate-x-[-50%] bottom-4 p-3 bg-zinc-800 dark:bg-zinc-200 darkTransition transition-[opacity] duration-300 btn hidden"
  @do={(el, store) => {
    const mobileNav = document.querySelector('#mobile-nav')
    store.isMobile = window.matchMedia(
      'only screen and (max-width: 768px)'
    ).matches

    if (store.isMobile) {
      el.classList.remove('hidden')
    }

    let lastScroll = 0
    window.addEventListener('scroll', () => {
      const scroll = window.scrollY

      if (scroll > 200) {
        store.hide(el)
      } else {
        store.show(el)
      }

      if (lastScroll > scroll) {
        store.show(el)
      }

      if (window.innerHeight + scroll >= document.body.offsetHeight) {
        store.show(el)
      }

      lastScroll = scroll
    })
  }}
  @click={() => {
    const mobileNav = document.querySelector('#mobile-nav')

    if (mobileNav.classList.contains('hidden')) {
      mobileNav.classList.add('flex')
      mobileNav.classList.remove('hidden')
    } else if (mobileNav.classList.contains('flex')) {
      mobileNav.classList.add('hidden')
      mobileNav.classList.remove('flex')
    }
  }}
>
  <Icon
    class="w-5 text-white dark:text-black"
    name="ic:twotone-menu"
    aria-hidden="true"
    focusable="false"
  />
</Button>
