---
const nav = [
	{ name: 'text', link: '/text'},
	{ name: 'image', link: '/image'},
	{ name: 'info', link: '/info'},
]
---
<nav class="mx-2 mt-2 grid grid-cols-10 gap-x-2 text-lg font-sans sticky z-10">
	<h1 class="col-span-2 cursor-default">Joohoon Cha</h1>
	<div class="col-start-3 col-end-5">
		{nav.map(({ name, link }) => {
			return <a class="mr-2 text-black hover:text-primary-default transition-colors ease-in-out duration-75" href={link}>{name}</a>
		})}
	</div>
</nav>
