<nav
  class="z-10 mx-4 mb-8 box-border grid grid-cols-2 items-center py-4 font-sans
  md:mb-12 md:items-end"
>
  <div id="logo">
    <a href="/" class="hover-animation md:text-lg md:tracking-wide">
      <span class="italic">jhcha</span><span class="font-mono">.blog(*)</span>
    </a>
  </div>
  <div
    class="flex flex-row justify-end gap-3 text-sm md:gap-6 md:text-base lg:gap-8"
  >
    <a href="/blog">
      <span class="hover-animation cursor-pointer"> blog </span>
    </a>
    <a href="/blog">
      <span class="hover-animation cursor-pointer"> info </span>
    </a>
  </div>
</nav>
