<nav
  class="font-sans py-4 mx-4 mb-6 grid grid-cols-2
  items-end z-10"
>
  <div id="logo">
    <a href="/" class="hover-animation text-lg"> parkingspace.app </a>
  </div>
  <div class="flex justify-end">
    <small class="hover-animation cursor-pointer underline"> info </small>
  </div>
</nav>
