<nav
  class="px-main z-10 mb-10 box-border grid grid-cols-2 items-center border-b border-light-text pt-4 pb-5 
  font-sans md:items-end"
>
  <div id="logo">
    <a href="/" class="hover-animation text-lg md:tracking-wide">
      <span class="italic">jhcha</span><span class="font-mono">.blog(*)</span>
    </a>
  </div>
  <div class="flex flex-row justify-end gap-3 md:gap-6 md:text-base lg:gap-8">
    <a href="/blog">
      <span class="hover-animation cursor-pointer underline underline-offset-1">
        blog
      </span>
    </a>
    <a href="/blog">
      <span class="hover-animation cursor-pointer underline underline-offset-1">
        info
      </span>
    </a>
  </div>
</nav>
