<nav
  class="font-sans py-4 px-4 mb-6 grid grid-cols-2
  items-end z-10"
>
  <div class=" cursor-default">
    <a
      href="/"
      class="hover:text-primary transition-colors ease-in-out duration-75
      text-lg"
    >
      parkingspace.app
    </a>
  </div>
  <div class="flex justify-end">
    <small
      class="cursor-pointer hover:text-primary transition-colors ease-in-out
      duration-75 underline"
    >
      info
    </small>
  </div>
</nav>
