<nav
  class="z-10 mx-4 mb-8 box-border grid grid-cols-2 items-end py-4
  font-sans md:mb-12 "
>
  <div id="logo">
    <a href="/" class="hover-animation md:text-lg md:tracking-wide">
      <span class="italic">jhcha</span><span class="font-mono">.blog(*)</span>
    </a>
  </div>
  <div class="flex flex-row justify-end gap-4">
    <a href="/blog">
      <span class="hover-animation cursor-pointer"> blog </span>
    </a>
    <a href="/blog">
      <span class="md:nav-btn cursor-pointer"> info </span>
    </a>
  </div>
</nav>
