---
const nav = [
	{ name: 'About', link: '/about'},
	{ name: 'Text', link: '/text'},
	{ name: 'Image', link: '/image'},
	{ name: 'jcha0713.github.io', link: '/'},
]
---
<nav class="m-2 flex justify-between font-sans">
	{nav.map(({ name, link }) => {
		return <a class="text-3xl font-medium last:text-yellow-400" href={link}>{name}</a>
	})}
</nav>

