const { inPost } = Astro.props
<nav
  class="px-main z-10 mb-10 box-border grid grid-cols-2 items-center border-b border-light-border pt-4 pb-5 
  font-sans dark:border-dark-border md:items-end"
>
  <div id="logo">
    <a href="/" class="hover-animation text-lg md:tracking-wide">
      <span class="italic">jhcha</span><span class="font-mono">.blog(*)</span>
    </a>
  </div>

  <div class="flex flex-row justify-end gap-1 font-mono">
    {inPost && (
      <a href="/blog">
        <span class="btn cursor-pointer bg-zinc-200"> &lt; cd .. </span>
      </a>
    )}
    <a href="/blog">
      <span class="hover-animation cursor-pointer underline underline-offset-1">
        blog
      </span>
    </a>
    <a href="/blog">
      <span class="hover-animation cursor-pointer underline underline-offset-1">
        info
      </span>
    </a>
  </div>
</nav>
