---
import BaseHead from '@components/BaseHead.astro'
import Nav from '@components/Nav.astro'
import Footer from '@components/Footer.astro'
import MobileNav from '@components/MobileNav.astro'
import { getLanguageFromURL } from '@utils/i18n'

const { post, inPost, title } = Astro.props
const url = Astro.url
const lang = getLanguageFromURL(url.pathname)
---

<html lang={lang}>
  <BaseHead
    title={title || post?.frontmatter.title}
    description={post?.frontmatter.description}
    {inPost}
  />
  <body class="bodyStyle">
    <Nav {inPost} />
    <slot />
    <Footer />
    <MobileNav />
  </body>
</html>
