---
import BaseHead from '../components/BaseHead.astro'

const title = 'parkingspace.app'
---

<html class="min-h-full flex flex-col">
  <head>
    <BaseHead {title} />
  </head>
  <body class="bg-light-bg text-light-text flex-grow flex flex-col">
    <slot name="blog" />
    <slot name="post" />
  </body>
</html>
