---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
const { content } = Astro.props
const { title } = content
---

<html class="min-h-full flex flex-col">
  <head>
    <BaseHead {title} />
  </head>
  <body class="bg-light-bg text-light-text flex-grow flex flex-col">
    <Nav />
    <article class="prose lg:prose-xl mx-auto my-12">
      <h1>{title}</h1>
      <slot>{content}</slot>
    </article>
  </body>
</html>
