---
import BaseLayout from '../layouts/BaseLayout.astro'
import Nav from '../components/Nav.astro'
const { content } = Astro.props
const { title } = content
---

<BaseLayout>
  <div slot="post">
    <Nav />
    <article class="prose">
      <slot>{content}</slot>
    </article>
  </div>
</BaseLayout>
